

    <h1> Web  Page  Development Template Contact Details</h1>
    
    <!DOCTYPE html>
    <html>
    <head>
    <style>
    .HTML {
      background-color: tomato;
      color: white;
      border: 2px solid black;
      margin: 20px;
      padding: 20px;
    }
    </style>
    </head>
    <body>
    
    <div class="HTML">
    <h2>HTML</h2>
    <p>HyperText Markup Language.</p>
    </div> 
    
    <div class="HTML">
    <h2>css</h2>
    <p>Cascading Style Sheets.</p>
    </div><br>
    <h1>My <span class="HTML">Important</span> Heading</h1><br>
<p>This is some <span class="HTML">important</span> text.</p>

    
    </body>
    </html>
    <!DOCTYPE html>
<html>
<body>

<h2>Use of The class Attribute in JavaScript</h2>
<p>Click the button to hide all elements with class name "HTML":</p>

<button onclick="myFunction()">Hide elements</button>

<h2 class="HTML">HTML</h2>
<p>HyperText Markup Language.</p>

<h2 class="HTML">CSS</h2>
<p>Cascading Style Sheets.</p>


<script>
function myFunction() {
  var x = document.getElementsByClassName("HTML");
  for (var i = 0; i < x.length; i++) {
    x[i].style.display = "none";
  }
}
</script>

</body>
</html>

    