<h1> Mobile name is <%= mobileData.name %></h1>
<h2> Mobile model is <%= mobileData.model %></h2>
<h2> Mobile process is <%= mobileData.processor %></h2>
<h2> Mobile type is <%= mobileData.type %></h2>
