
    
    <h2>Addmission Forms</h2>
    
<form method="POST" name="form1" action="/regsDetails">
    <label >Enter your user id</label><br>
    <input type="text"placeholder="uid" id="uid" name="uid"><br><br>

    <label >Enter your user name</label><br><br>
    <input type="text"placeholder="name" id="name" name="name"><br><br>

    <label >Enter your user password</label><br><br>
    <input type="text"placeholder="password" id="password" name="password"><br><br>

    <label >Enter your user gender</label><br><br>
    <input type="text"placeholder="gender" id="gender" name="gender"><br><br>

    <label >Enter your user education</label><br><br>
    <input type="text"placeholder="education" id="education" name="education"><br><br>

    <label >Enter your user pincode</label><br><br>
    <input type="text"placeholder="pincode" id="pincode" name="pincode"><br><br>

    <label >Enter your user panno</label><br><br>
    <input type="text"placeholder="panno" id="panno" name="panno"><br><br>

    <input type="submit"value="submit">
    </form>

    