

    <h1> Web  Page  Development Template Contact Details</h1>
    
    <!--<!DOCTYPE html>
    <html>
    <head>
    <style>
    .HTML {
      background-color: tomato;
      color: white;
      border: 2px solid black;
      margin: 20px;
      padding: 20px;
    }
    </style>
    </head>
    <body>
    
    <div class="HTML">
    <h2>HTML</h2>
    <p>HyperText Markup Language.</p>
    </div> 
    
    <div class="HTML">
    <h2>css</h2>
    <p>Cascading Style Sheets.</p>
    </div><br>
    <h1>My <span class="HTML">Important</span> Heading</h1><br>
<p>This is some <span class="HTML">important</span> text.</p>

    
    </body>
    </html>

    
    <!DOCTYPE html>
<html>
<body>

<h2>Use of The class Attribute in JavaScript</h2>
<p>Click the button to hide all elements with class name "HTML":</p>

<button onclick="myFunction()">Hide elements</button>

<h2 class="HTML">HTML</h2>
<p>HyperText Markup Language.</p>

<h2 class="HTML">CSS</h2>
<p>Cascading Style Sheets.</p>


<script>
function myFunction() {
  var x = document.getElementsByClassName("HTML");
  for (var i = 0; i < x.length; i++) {
    x[i].style.display = "none";
  }
}
</script>

</body>
</html>-->


<!--<!DOCTYPE html>
<html lang="en">
<head>
<title>CSS </title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the header */
header {
  background-color: #666;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
}

/* Create two columns/boxes that floats next to each other */
nav {
  float: left;
  width: 30%;
  height: 300px; /* only for demonstration, should be removed */
  background: #ccc;
  padding: 20px;
}

/* Style the list inside the menu */
nav ul {
  list-style-type: none;
  padding: 0;
}

article {
  float: left;
  padding: 20px;
  width: 70%;
  background-color: #f1f1f1;
  height: 300px; /* only for demonstration, should be removed */
}

/* Clear floats after the columns */
section::after {
  content: "";
  display: table;
  clear: both;
}

/* Style the footer */
footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
}
</style>
</head>
<body>

<h2>HTML  </h2>
<p>HyperText Markup Language.</p>

<header>
  <h2>Language</h2>
</header>

<section>
  <nav>
    <ul>
      <li><a href="#">Html</a></li>
      <li><a href="#">css</a></li>
      <li><a href="#">java</a></li>
    </ul>
  </nav>
  
  <article>
    <h1>html</h1>
    <p>HyperText Markup Language. </p>
    <p> </p>
  </article>
</section>

<footer>
  <p>html</p>
</footer>

</body>
</html>-->



<!--<section class="firstsection">
    <div class="box-main">
        <div class="firstHalf">
            <h1 class="text-big" id="web">Contact us</h1>
            <p class="text-small">
                
                <div id="after_submit"></div>
                <form id="contact_form" action="#" method="POST" enctype="multipart/form-data">
                  <div class="row">
                    <label class="required" for="name">Your name:</label><br />
                    <input id="name" class="input" name="name" type="text" value="" size="30" /><br />
                    <span id="name_validation" class="error_message"></span>
                  </div>
                  <div class="row">
                    <label class="required" for="email">Your email:</label><br />
                    <input id="email" class="input" name="email" type="text" value="" size="30" /><br />
                    <span id="email_validation" class="error_message"></span>
                  </div>
                  <div class="row">
                    <label class="required" for="message">Your message:</label><br />
                    <textarea id="message" class="input" name="message" rows="7" cols="30"></textarea><br />
                    <span id="message_validation" class="error_message"></span>
                  </div>
                    
                    <input id="submit_button" type="submit" value="Send email" />
                </form>

            </p>


        </div>
    </div>
    
</section>-->
  
<li><a href="contacts">CONTACT US</a></li>
<div class="panel" style="border-radius:0px; box-shadow:#666 0px 0px 3px;">


  <div style=" height:230px;" class="shadow">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3663.4378866181655!2d85.30628171497354!3d23.336145184795168!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39f4e04a1f4d7911%3A0x8061ce90a6e285af!2sJawahar+Vidya+Mandir!5e0!3m2!1sen!2sin!4v1488369439139" width="100%" height="230" frameborder="0" style="border:1px solid #ccc" allowfullscreen></iframe>
  </div>
  <br />
  
  <br />
  
  <div class="row-fluid" style="margin-bottom:60px; margin-top:10px">
  
  <div class="span4" style=" background:#333">
  <div style="width:70%; margin:auto">
  <p>&nbsp;</p>
  <span class="cnt-txt-main">
  Address
  </span>
  <p>&nbsp;</p>
  <span class="cnt-txt">
  address</span>
  <br>
  <span class="cnt-txt-inr">
   Jawahar Vidya Mandir
  Shyamali, Doranda, Ranchi - 834 002 (Jharkhand)
  
  </span>
  <br>
  <br>
  <span class="cnt-txt">
  telephone</span>
  <br>
  <span class="cnt-txt-inr">
  0651-2411221 
  
  </span>
  <br>
  <br>
  <span class="cnt-txt">
  Email id
  </span>
  <br>
  <span style="color:#ccc; font-size:12px; text-transform: lowercase; font-family: Arial, Helvetica, sans-serif;">
  jvmshyamali@yahoo.com
  </span>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  
  </div></div>
  
  
  
  <div class="span8" style="background:#333">
  <form action="" method="post">
  <div style="width:88%; margin:auto">
  <p>&nbsp;</p>
  <span class="cnt-txt-main">
  Send us Your Query
  </span>
  <p>&nbsp;</p>
  
  <div class="span4" style=" margin-left:0px; margin-bottom:20px;">
  <input type="text" name="full_name" placeholder="ENTER YOUR FULL NAME HERE :"  required style="background:#fff; color:#000000; border:#403F3F solid 1px; font-size:11px">
  </div>
  
  <div class="span4" style="margin-bottom:20px;">
  <input type="text" name="full_name" placeholder="ENTER YOUR EMAIL ID :" required style="background:#fff; color:#000000; border:#403F3F solid 1px; font-size:11px">
  </div>
  
  <div class="span4" style="float:right; margin-bottom:20px;">
  <input type="text" name="full_name" placeholder="ENTER YOUR MOBILE NUMBER :" required style="background:#fff; color:#000000; border:#403F3F solid 1px; font-size:11px">
  </div>
  
  
  
  </div>
  <div style="width:88%; margin:auto">
  <textarea placeholder="YOUR COMMENT AND QUESTIONS :" required style="background:#fff; color:#000000; height:100px; border:#403F3F solid 1px; font-size:11px; resize:none; width:99%"></textarea>
  
  
  <div><input type="submit" value="SUBMIT" class="btn btn-info" style="padding:10px; float:left; color:#FFFFFF; text-align:center; border:none"></div>
  <div ><input type="reset" value="RESET" class="btn btn-warning" style="padding:10px; margin-left:20px; color:#FFFFFF;  text-align:center; border:none"></div>
  </div></form>
  </div>
  
  </div>
  
  
  </div>
  
  
  <div class="container">

    <div class="panel well" style="font-family:Arial, Helvetica, sans-serif; margin-top:0px; font-size:12px; background:#eee">
    
    <span style="float:left">Jawahar Vidya Mandir &copy; 2017. Privacy Policy</span>
    
    <span style="float:right">Designed & Developed by <a href="https://sparrowsoftech.com" target="_blank" style="color:#0066FF">Sparrow Softech Pvt. Ltd. </a> 
    
    <br />
    
    
    <br />
    
    
    
    Updated Till Date <strong>:</strong>
    
    
    03-11-2021
    
     </span>
    
    <div style="clear:both"></div>
    
    </div>
    
    </div>