
<!DOCTYPE html>
<html>
	<head>
        <style>
            h1 {text-align: center;}
            p {text-align: center;}
            div {text-align: center;}
            </style>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,minimum-scale=1">
		<title>User Login Form</title>
        <!-- the form awesome library is used to add icons to our form -->
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
        <!-- include the stylesheet file -->
        <link href="/style.css" rel="stylesheet" type="text/css">
	</head>
	<body>
		<div class="login">
			<h1 style="background-color:DodgerBlue;"><marquee>User Login Form</marquee></h1>
            <form action="/auth" method="post">
				<label for="username">
					<!-- font awesome icon -->
					<i class="fas fa-user"></i>
				</label>
				<input type="text" name="uid" placeholder="uid" id="uid" required><br><br>
				<label for="password">
					<i class="fas fa-lock"></i>  
				</label>
				<input type="password" name="password" placeholder="password" id="password" required><br> <br>
				<input type="submit" value="Login">
			
            <% if (errMsg !== '') {%> 
                <p style="color:red; font-size:70%;"><%= errMsg %></p> 
            <% } else {%>
                <p style="color:green; font-size:70%;"><%= msg %></p> 
            <% } %>
            
            <a href="/studentForm" class="btn btn-primary">Sign Up</a>
            
		</form>
		</div>
	</body>
</html>