<!DOCTYPE html>
 
<html>
 
<head>
    <title>
         Web  Page  Development Template
    </title>
</head>
 
<!--<body>
    <nav class="navbar background">
        <ul class="nav-list">
            <div class="logo">
                <img src="https://www.w3schools.com/images/w3schools_green.jpg" alt="W3Schools.com" style="width:104px;height:142px;">

            </div>
            <li><a href="#web">Web Technology</a></li>
            <li><a href="#program">C Programming</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
 
        <div class="rightNav">
            <input type="text" name="search" id="search">
            <button class="btn btn-sm">Search</button> 

        </div>
        <div style="float:right">
          <form align="right" name="form1" method="post" action="logout">
             <label class="logoutLblPos">
              <a href="logout" class="btn btn-primary">Logout</a>
            </label>
          </form>
          </div>
    </nav>
 
    <section class="firstsection">
        <div class="box-main">
            <div class="firstHalf">
                <h1 class="text-big" id="web">
                   What is  HTML? 
                </h1>
                 
                <p class="text-small">
                    HTML stands for HyperText Markup
                    Language. It is used to design
                    web pages using a markup language.
                    HTML is the combination of Hypertext
                    and Markup language. Hypertext
                    defines the link between the web
                    pages. A markup language is used
                    to define the text document within
                    tag which defines the structure of
                    web pages. HTML is a markup language
                    that is used by the browser to
                    manipulate text, images, and other
                    content to display it in the required
                    format.
                </p>
 
 
            </div>
        </div>
    </section>
 
    <section class="secondsection">
        <div class="box-main">
            <div class="secondHalf">
                <h1 class="text-big" id="program">
                    what is node js?
                </h1>
                <p class="text-small">
                    Node. js is primarily used for non-blocking, event-driven servers,
                     due to its single-threaded nature. It's used for traditional web 
                     sites and back-end API services, but was designed with real-time,
                      push-based architectures in mind.

                </p>
 
 
            </div>
        </div>
    </section>
 
    <section class="section">
        <div class="paras">
            <h1 class="sectionTag text-big">What is Java?</h1>
 
            <p class="sectionSubTag text-small">
                Java has been one of the most
                popular programming language
                for many years. Java is Object
                Oriented. However it is not
                considered as pure object oriented
                as it provides support for primitive
                data types (like int, char, etc) The
                Java codes are first compiled into byte
                code (machine independent code). Then
                the byte code is run on Java Virtual
                Machine (JVM) regardless of the
                underlying architecture.
            </p>
 
 
        </div>
 
        <div class="logo">
            <img src="https://www.w3schools.com/images/w3schools_green.jpg" alt="W3Schools.com" style="width:104px;height:142px;"/>
        </div>
    </section>
 
    <footer class="background">
        <p class="text-footer">
            Copyright ©-All rights are reserved
        </p>
 
</footer>
</body>
</html>-->

 <%- include('header') %>
 <marquee direction="left" bgcolor="#1F45FC">
    <h1 style="color: aliceblue;">
        <%= comment.join(", ")%>  </h1></marquee>



<section class="firstsection">
    <div class="box-main">
        <div class="firstHalf">
            <h1 class="text-big" id="school"><marquee>Jawahar vidya mandir school</marquee></h1>
            <p class="text-small">
                Jawahar Vidya Mandir is a co-education<br> English Medium School 
                situated in the sylvan and serene<br> surroundings of Shyamali Colony of MECON.
            </p></div>
         
            <div class="span3">
                <p><span class="news_style">Urgent Notices</span>
                    <span style="float:right">
                   
                   </span></p>
                   <div style="margin-left:10px; font-family:Arial, Helvetica, sans-serif;">
                   
                   <div class="panel" style="font-family:Arial, Helvetica, sans-serif;  border:#bd9595 solid 3px; font-size:30px; height:219px; padding:10px"> 
                   
                   <marquee direction="up" scrollamount="3" onmouseover="this.stop()" onmouseout="this.start()"  height="100">
                   
                   <table width="100%" border="0">
                   
                   <tr>
                   <td width="30%" valign="top"> <img src="" align="absmiddle" /></td>
                   <td width="30%"  style="padding-bottom:20px;">
                   <a href="mgsdisplayRecord" target="_blank">Notice </a>
                   
                   </td>
                   </tr>
                </div>
                </div>
                </div>
            </maquee>
                   </table>
                    </div>
                    </section>


<!--<div class="logo">
        <img src="https://www.w3schools.com/images/w3schools_green.jpg" alt="W3Schools.com" style="width:104px;height:142px;"/>
    </div>
</section>-->

 
    
    