
<html>
    <body>
    <center>
    <h2><b>Login Form</b></h2>
    </center>
    
<form>
    <div class="container">
        <center>
    <label>UserName</label><br>
    <input type="text"placeholder="UserName" name="UserName"><br><br>
    </center>
    <center>
    <label>Passward</label><br>
    <input type="text" placeholder="Passward" name="Passward"><br><br>
    </center>
    <center>
        </a><button type="submit">sign in</button>
        </center>
        </div>
    </form>
<center>
  <a href="/studentForm">  <button type="submit">sign Up</button>
  </center>
</body>
</html>

